package ${package_name}.web.controller;

import ${package_name}.dao.model.${model};
import ${package_name}.rpc.api.${model}Service;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;

/**
 * ${model}Controller
 * Created by willow on ${ctime}.
 */
@Controller
@RequestMapping("/${mapper}")
public class ${model}Controller {

    private static final Logger LOGGER = LoggerFactory.getLogger(${model}Controller.class);

    @Autowired
    private ${model}Service ${mapper}Service;

        /**
          * 显示列表
          */
        @RequestMapping
        public String list(Model model,${model} ${mapper}){
        List<${model}> ${mapper}s = ${mapper}Service.selectList(${mapper});
            page = resultList.getPage();
            model.addAttribute("${mapper}s", ${mapper}s);
            model.addAttribute("${mapper}", ${mapper});
            return "${mapper}/${mapper}_list";
        }

        /**
         * 请求新增页面
         */
        @RequestMapping(value="/new")
        public String toAdd(Model model){
            return "${mapper}/${mapper}_edit";
        }



        /**
        * 请求编辑页面
        */
        @RequestMapping(value="/toEdit/{id}")
        public String toEdit(Model model,@PathVariable Integer id){
            ${model} ${mapper} = ${mapper}Service.selectById(id);
            model.addAttribute("${mapper}", ${mapper});
            return "${mapper}/${mapper}_edit";
        }

        /**
        * 保存页面
        */
        @RequestMapping(value="/save")
         public String toEdit(Model model,${model} ${mapper}){
            if(${mapper}.getid==null){    //save
                ${model} ${mapper} = ${mapper}Service.save${model}(${mapper});
                return "redirect:/${mapper}";
            } else{
               ${model} ${mapper} = ${mapper}Service.update${model}(${mapper});
               return "redirect:/${mapper}";
            }
        }



        /**
        * 删除指定信息
        */
        @ResponseBody
        @RequestMapping(value = "/delete/{id}")
        public String delete${model}(Model model,@PathVariable Integer id) throws JSONException {
            JSONObject jsonObject = new JSONObject();
            try {
                 Long  count = ${mapper}Service.delete${model}(id);
            }catch (Exception e){
                 jsonObject.put("resCode", "no");
                 return jsonObject.toString();
            }
            jsonObject.put("resCode", "yes");
            return jsonObject.toString();
        }

}